.wp-block-lgng-gallery.components-placeholder {
	margin: 0;
}

// Allow gallery items to go edge to edge.
// conflicts with some themes' full/wide align method
// .gutenberg .wp-block-lgng-gallery:not(.components-placeholder) {
// 	margin-left: -8px;
// 	margin-right: -8px;
// }

// // Don't use negative margins when full-wide.
// .gutenberg [data-align="full"] .wp-block-lgng-gallery:not(.components-placeholder) {
// 	margin-left: auto;
// 	margin-right: auto;
// }

.wp-block-lgng-gallery figure {
	margin: 0 0 15px 0;
	padding-left: 7.5px;
	padding-right: 7.5px;
	outline: none;
}

.lg-blocks-gallery-item {
	figure:not(.is-thumb) {
		width: 100%;
	}
	figure {
		> img {
			width: 100%;
		}
	}
	.editor-block-list__layout
		.editor-block-list__block[data-align='full']
		> .editor-block-list__block-edit
		figure.is-thumb {
		// uhh
	}
	.lg-blocks-gallery-container {
		display: flex;
		flex-wrap: wrap;
	}
	.is-selected {
		outline: 2px solid #dadada;
		outline-offset: -2px;

		.editor-rich-text {
		}
	}

	&.is-transient img {
		// @include loading_fade;
	}
	.is-thumb img {
		// width: 150px;
		// height: 150px;
		// object-fit: cover;
	}
	.editor-rich-text {
		overflow: visible;
		position: relative;
		width: 100%;
		max-height: 100%;
		// overflow-y: auto;
	}

	.editor-rich-text figcaption:not([data-is-placeholder-visible='true']) {
		position: relative;
		font-size: 13px;
		// overflow: hidden;
	}

	.is-selected .editor-rich-text {
		width: calc(100% - 8px);
		left: 4px;
		margin-top: -4px;

		// Override negative margins so this toolbar isn't hidden by overflow. Overflow is needed for long captions.
		.editor-rich-text__inline-toolbar {
			// top: -52px;
		}

		// give caption some space
		.editor-rich-text__tinymce {
			padding: 4px;
		}
	}

	// .components-form-file-upload,
	// .components-button.core-blocks-gallery-add-item-button {
	// 	width: 100%;
	// 	height: 100%;
	// }
	.lg-blocks-edit-gallery {
		padding: 1em;
		background-color: #f3f3f4;
	}
	.components-button.core-blocks-gallery-add-item-button {
		display: flex;
		flex-direction: column;
		justify-content: center;
		box-shadow: none;
		border: none;
		border-radius: 0;
		min-height: 100px;

		& .dashicon {
			margin-top: 10px;
		}

		&:hover,
		&:focus {
			border: 1px solid grey;
		}
	}
}

.core-blocks-gallery-item__inline-menu {
	padding: 2px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: theme(primary);
	display: inline-flex;
	z-index: z-index('.core-blocks-gallery-item__inline-menu');

	.components-button {
		width: 26px;
		height: 26px;
		justify-content: center;
		color: white;
		background: rgba(0, 0, 0, 0.45);
		&:hover,
		&:focus {
			color: white;
			background: rgba(0, 0, 0, 0.85);
		}
	}
}

.blocks-gallery-item__remove {
	padding: 0;
}

.blocks-gallery-item .spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// IE11 doesn't support object-fit or flex very well, so we inline-block.
@media all and (-ms-high-contrast: none) {
	*::-ms-backdrop,
	.blocks-gallery-item {
		display: inline-block;
	}

	*::-ms-backdrop,
	.blocks-gallery-item img {
		width: 100%;
	}
}
